<html>
<head>
<title>AutoCar Control</title>
<link rel="stylesheet" type="text/css" href="static/index.css" />
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="static/index.js"></script>
</head>
<body onLoad="home()">
<p id="shifter"></p>
<button type="button" onClick="u()">forward</button>
<br />
<button type="button" onClick="v()">turn left</button>
<br />
<button type="button" onClick="w()">turn right</button>
<br />
<button type="button" onClick="y()">reverse</button>
<br />
<button type="button" onClick="x()">stop</button>
</body>
</html>